<h1>Welcome!</h1>

<h3><%= link_to("New Restuarant", new_restuarant_path) %></h3>
<% @restuarants.each do |restuarant| %>
<%= link_to restuarant.name, restuarant_path(restuarant) %>
<p>Rating for this restaurant is: <%= restuarant.ratings.restuarant_rating %> </p>
<% end %>

